[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
ipywidgets = "*"
jupyter_server = "*"
jupyterlab = "*"
lxml="*"
matplotlib = "*"
nb_black = "*"
openpyxl = "*"
pandas = "*"
requests = "*"
sklearn = "*"
statsmodels = "*"
tensorflow = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.7"
